<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.narolainfotect.demo" >

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission  android:name="android.permission.WRITE_EXTERNAL_STORAGE"  />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:theme="@android:style/Theme.Translucent"
            android:name=".IncomingCallActivity"
            android:label="@string/app_name" >

        </activity>

        <service
            android:name=".PopUpService"
            android:enabled="true"
            android:exported="true" >
            <intent-filter android:label="@string/lbl_name" >
                <action android:name="com.narolainfotect.demo.service.MY_SERVICE" />
            </intent-filter>
        </service>

        <receiver
            android:name=".MyReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" >
                </action>
            </intent-filter>
          <!--  <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>-->
        </receiver>

    </application>

</manifest>
